In [1]:
import pandas as pd

In [16]:
def parse_type(r):
    index = r.find('№')
    machine_type = r[:index].replace(' ','')
    number = r[index+1:].replace(' ','')
    machine_number = r[index+1:].replace(' ','')
    return (machine_type, machine_number)

def parse_machine(r):
    index = r.find('№')
    machine_type = r[:index].replace(' ','')
    number = r[index+1:].replace(' ','')
    machine_number = str(number).zfill(8)
    return (machine_type, machine_number)

def parse_work_done(r):
    #print(r)
    arr = r.split(' ')
    if len(arr) < 2:
        return (None, None)
    try:
        value = float(arr[0])
        mesure = arr[1]
    except ValueError:
        return (None, None)
    return (value, mesure)

In [17]:
file_path = '../data/prep/raw/{0}'

In [18]:
apvo_data = pd.read_csv(file_path.format('apvo_data.csv'), engine='python')
ssps_data = pd.read_csv(file_path.format('ssps_data.csv'), engine='python')

In [19]:
apvo_data['machine_type'], apvo_data['machine_number']= zip(* apvo_data.type.apply(parse_type) ) 
ssps_data['machine_type'], ssps_data['machine_number']= zip(* ssps_data.machine.apply(parse_machine) )

In [20]:
apvo_data['value'], apvo_data['mesure'] = zip(* apvo_data.work_done_phis.apply(parse_work_done) )

In [21]:
apvo_dataset = apvo_data[['date', 'machine_type', 'machine_number', 'company', 'type', 'volume',
                          'work_area', 'work_kind', 'value', 'mesure', 'work_done_pas', 'window']]

In [22]:
ssps_dataset = ssps_data[['date', 'machine_type', 'machine_number', 'company', 'au12', 'rate_norm',
                          'rate_fact', 'low_rate', 'up_rate', 'residue']]

In [26]:
apvo_dataset.to_csv('../data/prep/apvo_dataset.csv', index=False)
ssps_dataset.to_csv('../data/prep/ssps_dataset.csv', index=False)

In [27]:
ssps_dataset

,date,machine_type,machine_number,company,au12,rate_norm,rate_fact,low_rate,up_rate,residue
0,2020-08-01,ЩОМ-1200,00000016,1,1,-,-,-,-,622.0
1,2020-08-01,ЩОМ-1200М,00000019,2,1,-,-,-,-,1395.0
2,2020-08-01,ТЭС-1000,00000003,3,1,-,-,-,-,2243.0
3,2020-08-01,ТЭС-1000,00000016,4,1,-,-,-,-,2268.0
4,2020-08-01,ТЭС-1000,00000019,5,1,-,-,-,-,3004.0
...,...,...,...,...,...,...,...,...,...,...
31600,2019-09-30,СМ-2,00001596,46,1,-,-,-,-,5.0
31601,2019-09-30,СМ-2,00001643,47,1,-,-,-,-,76.0
31602,2019-09-30,СМ-2,00001764,48,1,-,-,-,-,102.0
31603,2019-09-30,ТЭСПСС-1К,00000062,49,1,267.4,254,13.4,-,566.0
31604,2019-09-30,КЖТ-4РС(KGT-4RS),00004882,50,1,-,100,-,-,365.0

In [28]:
apvo_dataset.

,date,machine_type,machine_number,company,type,volume,work_area,work_kind,value,mesure,work_done_pas,window
0,2019-10-01,Унимат08-275/3S,00000040,"ПЧ-23, ШЧ-9, ДС ЯКУШКА, ДСП АМИРОВКА",Унимат 08-275/3S№ 00000040,,АМИРОВКА СТР 1,Работа УНИМАТ,1,стрелка,,120/0
1,2019-10-01,Унимат08-275/3S,00000040,"ПЧ-23, ШЧ-9, ДС ПОГРУЗНАЯ, ДСП Кармала",Унимат 08-275/3S№ 00000040,,"КАРМАЛА , п. 1 СТР 2",Работа УНИМАТ,1,стрелка,,90/0
2,2019-10-01,Унимат08-275/3S,00000040,"ПЧ-23, ШЧ-9, ДС ЯКУШКА, ДСП Б/П 1028 КМ",Унимат 08-275/3S№ 00000040,,ОП 1028 КМ СТР 1,Работа УНИМАТ,1,стрелка,,120/0
3,2019-10-01,ДУОМАТИК09-32GSM,00000035,"ПЧ-14, РЦС-3, ШЧ-6, ЭЧ-7",ДУОМАТИК 09-32 GSM№ 00000035,,"АСЕКЕЕВО-ФИЛИППОВКА , п.2 1310пк8-1329пк10",Работа ДУОМАТИК,1000,м,,120/0
4,2019-10-01,РПБ-01,00000108,"ПЧ-14, РЦС-3, ШЧ-6, ЭЧ-7",РПБ-01№ 00000108,,"АСЕКЕЕВО-ФИЛИППОВКА , п.2 1310пк8-1329пк10",Работа РПБ,1000,м,,120/0
...,...,...,...,...,...,...,...,...,...,...,...,...
41531,2020-05-31,ПМА-1М,00000012,"ПЧ-20, ДС САРАНСК, ДС ЕЛОХОВКА",ПМА-1М№ 00000012,,,,None,None,,НЕТ ЗАЯВОК
41532,2020-05-31,РПБ-01,00000051,"ПЧ-20, ДС САРАНСК, ДС ЕЛОХОВКА",РПБ-01№ 00000051,,,,None,None,,НЕТ ЗАЯВОК
41533,2020-05-31,ПМА-1М,00000012,"ПЧ-20, ДС САРАНСК, ДС ЕЛОХОВКА",ПМА-1М№ 00000012,,,,None,None,,НЕТ ЗАЯВОК
41534,2020-05-31,ПМА-1М,00000012,"ПЧ-20, ДС САРАНСК, ДС ЕЛОХОВКА",ПМА-1М№ 00000012,,,,None,None,,НЕТ ЗАЯВОК
41535,2020-05-31,РПБ-01,00000051,"ПЧ-20, ДС САРАНСК, ДС ЕЛОХОВКА",РПБ-01№ 00000051,,,,None,None,,НЕТ ЗАЯВОК